---
title: "Costa Rica"        # Titel voor deze specifieke pagina
layout: layouts/country-page.njk # Welke layout moet gebruikt worden
tag: "costa-rica-photos" # Welke tag moet de layout gebruiken om foto's te vinden?
permalink: /costa-rica/    # Wat wordt de URL van deze pagina?
eleventyExcludeFromCollections: true # Zorg dat deze pagina zelf niet in collecties komt
---
{# Dit bestand is alleen nodig om de layout te triggeren met de juiste data (title, tag). #}
{# De daadwerkelijke inhoud (foto grid) wordt door de layout gegenereerd. #}