---
title: "Costa Rica"
layout: layouts/country-page.njk
tag: "costa-rica-photos"
permalink: /costa-rica/ # De URL voor deze pagina
eleventyExcludeFromCollections: true
---
{# Dit bestand is leeg, het dient alleen om de layout te triggeren. #}