{# _includes/header.njk #}
<header id="site-header" class="bg-gray-900/75 shadow-md sticky top-0 z-50 backdrop-blur-sm">
    <nav class="container mx-auto px-6 py-2 flex justify-between items-center">
        <a href="#" onclick="showPage('main-page'); return false;" class="text-2xl font-bold text-gray-100 hover:text-gray-300 transition duration-300 inline-flex items-center cursor-pointer">
            <img src="https://i.imgur.com/mfehD1E.png" alt="Ben's Photography Logo" class="h-12 w-auto mr-2">
            <span class="font-system-ui">Ben's Photography</span>
        </a>
        <div class="space-x-6">
            <a href="#gallery" class="text-gray-300 hover:text-orange-500 transition duration-300 cursor-pointer">Gallery</a>
            <a href="#about" class="text-gray-300 hover:text-orange-500 transition duration-300 cursor-pointer">About</a>
            <a href="#contact" class="text-gray-300 hover:text-orange-500 transition duration-300 cursor-pointer">Contact</a>
        </div>
    </nav>
</header>